<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ari</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Prato Feito ou Marmitex
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Pratos Diarios</a>
            <a class="dropdown-item" href="#">Pratos de Segunda-Feira</a>
            <a class="dropdown-item" href="#">Pratos de Terça-Feira</a>
            <a class="dropdown-item" href="#">Pratos de Quarta-Feira</a>
            <a class="dropdown-item" href="#">Pratos de Quinta-Feira</a>
            <a class="dropdown-item" href="#">Pratos de Sexta-Feira</a>
            <a class="dropdown-item" href="#">Pratos de Sabado</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item">
         
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Caldos
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Verde</a>
            <a class="dropdown-item" href="#">De Feijão</a>
            <a class="dropdown-item" href="#">Frango com Legumes</a>
            <a class="dropdown-item" href="#">Vaca Atolada</a>
            <a class="dropdown-item" href="#">Abobora com Carne seca</a>
            <a class="dropdown-item" href="#">Mocotó</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sair</button>
      </form>
    </div>
  </nav>